In [ ]:
Random Forest
 
Assignment


About the data: 
Let’s consider a Company dataset with around 10 variables and 400 records. 
The attributes are as follows: 
 Sales -- Unit sales (in thousands) at each location
 Competitor Price -- Price charged by competitor at each location
 Income -- Community income level (in thousands of dollars)
 Advertising -- Local advertising budget for company at each location (in thousands of dollars)
 Population -- Population size in region (in thousands)
 Price -- Price company charges for car seats at each site
 Shelf Location at stores -- A factor with levels Bad, Good and Medium indicating the quality of the shelving location for the car seats at each site
 Age -- Average age of the local population
 Education -- Education level at each location
 Urban -- A factor with levels No and Yes to indicate whether the store is in an urban or rural location
 US -- A factor with levels No and Yes to indicate whether the store is in the US or not
The company dataset looks like this: 
 
Problem Statement:
A cloth manufacturing company is interested to know about the segment or attributes causes high sale. 
Approach - A Random Forest can be built with target variable Sales (we will first convert it in categorical variable) & all other variable will be independent in the analysis.

In [1]:
import pandas as pd
import numpy as np

In [2]:
cd= pd.read_csv("Company_Data.csv")

In [3]:
cd.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [6]:
cd.shape

(400, 11)

In [7]:
cd.columns

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

In [8]:
cd.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [9]:
df=pd.DataFrame(cd) # Defining The data frame

In [10]:
dummies = pd.get_dummies(df['ShelveLoc']).rename(columns=lambda x: 'ShelveLoc_' + str(x))

In [11]:
df = pd.concat([df, dummies], axis=1)

In [12]:
print(df)

     Sales  CompPrice  Income  Advertising  Population  Price ShelveLoc  Age  \
0     9.50        138      73           11         276    120       Bad   42
1    11.22        111      48           16         260     83      Good   65
2    10.06        113      35           10         269     80    Medium   59
3     7.40        117     100            4         466     97    Medium   55
4     4.15        141      64            3         340    128       Bad   38
..     ...        ...     ...          ...         ...    ...       ...  ...
395  12.57        138     108           17         203    128      Good   33
396   6.14        139      23            3          37    120    Medium   55
397   7.41        162      26           12         368    159    Medium   40
398   5.94        100      79            7         284     95       Bad   50
399   9.71        134      37            0          27    120      Good   49

     Education Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium
0           17   Yes  Yes              1               0                 0
1           10   Yes  Yes              0               1                 0
2           12   Yes  Yes              0               0                 1
3           14   Yes  Yes              0               0                 1
4           13   Yes   No              1               0                 0
..         ...   ...  ...            ...             ...               ...
395         14   Yes  Yes              0               1                 0
396         11    No  Yes              0               0                 1
397         18   Yes  Yes              0               0                 1
398         12   Yes  Yes              1               0                 0
399         16   Yes  Yes              0               1                 0

[400 rows x 14 columns]

In [13]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes,1,0,0
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes,0,1,0
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes,0,0,1
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes,0,0,1
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No,1,0,0

In [14]:
df = df.drop('ShelveLoc', 1)

In [15]:
dummies = pd.get_dummies(df['Urban']).rename(columns=lambda x: 'Urban_' + str(x))

In [16]:
df = pd.concat([df, dummies], axis=1)

In [17]:
print(df)

     Sales  CompPrice  Income  Advertising  Population  Price  Age  Education  \
0     9.50        138      73           11         276    120   42         17
1    11.22        111      48           16         260     83   65         10
2    10.06        113      35           10         269     80   59         12
3     7.40        117     100            4         466     97   55         14
4     4.15        141      64            3         340    128   38         13
..     ...        ...     ...          ...         ...    ...  ...        ...
395  12.57        138     108           17         203    128   33         14
396   6.14        139      23            3          37    120   55         11
397   7.41        162      26           12         368    159   40         18
398   5.94        100      79            7         284     95   50         12
399   9.71        134      37            0          27    120   49         16

    Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium  Urban_No  \
0     Yes  Yes              1               0                 0         0
1     Yes  Yes              0               1                 0         0
2     Yes  Yes              0               0                 1         0
3     Yes  Yes              0               0                 1         0
4     Yes   No              1               0                 0         0
..    ...  ...            ...             ...               ...       ...
395   Yes  Yes              0               1                 0         0
396    No  Yes              0               0                 1         1
397   Yes  Yes              0               0                 1         0
398   Yes  Yes              1               0                 0         0
399   Yes  Yes              0               1                 0         0

     Urban_Yes
0            1
1            1
2            1
3            1
4            1
..         ...
395          1
396          0
397          1
398          1
399          1

[400 rows x 15 columns]

In [18]:
dummies = pd.get_dummies(df['US']).rename(columns=lambda x: 'US_' + str(x))

In [19]:
df = pd.concat([df, dummies], axis=1)

In [20]:
print(df)

     Sales  CompPrice  Income  Advertising  Population  Price  Age  Education  \
0     9.50        138      73           11         276    120   42         17
1    11.22        111      48           16         260     83   65         10
2    10.06        113      35           10         269     80   59         12
3     7.40        117     100            4         466     97   55         14
4     4.15        141      64            3         340    128   38         13
..     ...        ...     ...          ...         ...    ...  ...        ...
395  12.57        138     108           17         203    128   33         14
396   6.14        139      23            3          37    120   55         11
397   7.41        162      26           12         368    159   40         18
398   5.94        100      79            7         284     95   50         12
399   9.71        134      37            0          27    120   49         16

    Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium  Urban_No  \
0     Yes  Yes              1               0                 0         0
1     Yes  Yes              0               1                 0         0
2     Yes  Yes              0               0                 1         0
3     Yes  Yes              0               0                 1         0
4     Yes   No              1               0                 0         0
..    ...  ...            ...             ...               ...       ...
395   Yes  Yes              0               1                 0         0
396    No  Yes              0               0                 1         1
397   Yes  Yes              0               0                 1         0
398   Yes  Yes              1               0                 0         0
399   Yes  Yes              0               1                 0         0

     Urban_Yes  US_No  US_Yes
0            1      0       1
1            1      0       1
2            1      0       1
3            1      0       1
4            1      1       0
..         ...    ...     ...
395          1      0       1
396          0      0       1
397          1      0       1
398          1      0       1
399          1      0       1

[400 rows x 17 columns]

In [21]:
df = df.drop('Urban', 1)

In [22]:
df = df.drop('US', 1)

In [23]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0

In [24]:
row_indexes=df[df['Sales']>=10].index

In [25]:
df.loc[row_indexes,'sales']="yes"

In [26]:
row_indexes=df[df['Sales']<10].index

In [27]:
df.loc[row_indexes,'sales']="no"

In [28]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes,sales
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1,no
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1,yes
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1,yes
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1,no
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0,no

In [29]:
df = df.drop('Sales', 1)

In [30]:
colnames = list(df.columns)
colnames

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'Age',
 'Education',
 'ShelveLoc_Bad',
 'ShelveLoc_Good',
 'ShelveLoc_Medium',
 'Urban_No',
 'Urban_Yes',
 'US_No',
 'US_Yes',
 'sales']

In [31]:
predictors = colnames[:14]

In [32]:
target = colnames[14]

In [33]:
target

'sales'

In [34]:
predictors

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'Age',
 'Education',
 'ShelveLoc_Bad',
 'ShelveLoc_Good',
 'ShelveLoc_Medium',
 'Urban_No',
 'Urban_Yes',
 'US_No',
 'US_Yes']

In [35]:
X = df[predictors]

In [36]:
Y = df[target]

In [38]:
X

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [39]:
Y

0       no
1      yes
2      yes
3       no
4       no
      ...
395    yes
396     no
397     no
398     no
399     no
Name: sales, Length: 400, dtype: object

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
rf = RandomForestClassifier(n_jobs=2,oob_score=True,n_estimators=15,criterion="entropy")

In [42]:
rf.fit(X,Y)

RandomForestClassifier(criterion='entropy', n_estimators=15, n_jobs=2,
                       oob_score=True)

In [43]:
rf.estimators_

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1319773097),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1664289037),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1772020393),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2014610939),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1894302458),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1744182795),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=533702534),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1613190977),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1803992738),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=495381248),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1644898360),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=648612704),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=614824554),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=482799777),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=169564509)]

In [44]:
rf.classes_

array(['no', 'yes'], dtype=object)

In [45]:
rf.n_classes_ # Number of levels in class labels

2

In [46]:
rf.n_features_

14

In [47]:
rf.n_outputs_ # Number of outputs when fit performed

1

In [49]:
rf.oob_score_

0.855

In [50]:
rf.predict(X)

array(['no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'no',
       'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no'], dtype=object)

In [51]:
df['rf_pred'] = rf.predict(X)

In [52]:
cols = ['rf_pred','sales']

In [53]:
cols

['rf_pred', 'sales']

In [54]:
from sklearn.metrics import confusion_matrix

In [55]:
confusion_matrix(df['sales'],df['rf_pred'])

array([[321,   0],
       [  0,  79]])

In [ ]:
Use Random Forest to prepare a model on fraud data 
treating those who have taxable_income <= 30000 as "Risky" and others are "Good"

In [91]:
import pandas as pd
import numpy as np

In [98]:
fc= pd.read_csv("Fraud_check.csv")

In [99]:
fc.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [100]:
fc.shape

(600, 6)

In [101]:
fc.columns

Index(['Undergrad', 'Marital.Status', 'Taxable.Income', 'City.Population',
       'Work.Experience', 'Urban'],
      dtype='object')

In [102]:
fc.isnull().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
dtype: int64

In [103]:
fc.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [104]:
df=pd.DataFrame(fc) # Defining The data frame

In [105]:
dummies = pd.get_dummies(df['Marital.Status']).rename(columns=lambda x: 'Marital.Status_' + str(x))

In [106]:
df = pd.concat([df, dummies], axis=1)

In [107]:
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single
0,NO,Single,68833,50047,10,YES,0,0,1
1,YES,Divorced,33700,134075,18,YES,1,0,0
2,NO,Married,36925,160205,30,YES,0,1,0
3,YES,Single,50190,193264,15,YES,0,0,1
4,NO,Married,81002,27533,28,NO,0,1,0
...,...,...,...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES,1,0,0
596,YES,Divorced,69967,55369,2,YES,1,0,0
597,NO,Divorced,47334,154058,0,YES,1,0,0
598,YES,Married,98592,180083,17,NO,0,1,0
599,NO,Divorced,96519,158137,16,NO,1,0,0

In [108]:
dummies = pd.get_dummies(df['Urban']).rename(columns=lambda x: 'Urban_' + str(x))

In [109]:
df = pd.concat([df, dummies], axis=1)

In [110]:
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES
0,NO,Single,68833,50047,10,YES,0,0,1,0,1
1,YES,Divorced,33700,134075,18,YES,1,0,0,0,1
2,NO,Married,36925,160205,30,YES,0,1,0,0,1
3,YES,Single,50190,193264,15,YES,0,0,1,0,1
4,NO,Married,81002,27533,28,NO,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES,1,0,0,0,1
596,YES,Divorced,69967,55369,2,YES,1,0,0,0,1
597,NO,Divorced,47334,154058,0,YES,1,0,0,0,1
598,YES,Married,98592,180083,17,NO,0,1,0,1,0
599,NO,Divorced,96519,158137,16,NO,1,0,0,1,0

In [111]:
dummies = pd.get_dummies(df['Undergrad']).rename(columns=lambda x: 'Undergrad_' + str(x))

In [112]:
df = pd.concat([df, dummies], axis=1)

In [113]:
print(df)

    Undergrad Marital.Status  Taxable.Income  City.Population  \
0          NO         Single           68833            50047
1         YES       Divorced           33700           134075
2          NO        Married           36925           160205
3         YES         Single           50190           193264
4          NO        Married           81002            27533
..        ...            ...             ...              ...
595       YES       Divorced           76340            39492
596       YES       Divorced           69967            55369
597        NO       Divorced           47334           154058
598       YES        Married           98592           180083
599        NO       Divorced           96519           158137

     Work.Experience Urban  Marital.Status_Divorced  Marital.Status_Married  \
0                 10   YES                        0                       0
1                 18   YES                        1                       0
2                 30   YES                        0                       1
3                 15   YES                        0                       0
4                 28    NO                        0                       1
..               ...   ...                      ...                     ...
595                7   YES                        1                       0
596                2   YES                        1                       0
597                0   YES                        1                       0
598               17    NO                        0                       1
599               16    NO                        1                       0

     Marital.Status_Single  Urban_NO  Urban_YES  Undergrad_NO  Undergrad_YES
0                        1         0          1             1              0
1                        0         0          1             0              1
2                        0         0          1             1              0
3                        1         0          1             0              1
4                        0         1          0             1              0
..                     ...       ...        ...           ...            ...
595                      0         0          1             0              1
596                      0         0          1             0              1
597                      0         0          1             1              0
598                      0         1          0             0              1
599                      0         1          0             1              0

[600 rows x 13 columns]

In [114]:
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES
0,NO,Single,68833,50047,10,YES,0,0,1,0,1,1,0
1,YES,Divorced,33700,134075,18,YES,1,0,0,0,1,0,1
2,NO,Married,36925,160205,30,YES,0,1,0,0,1,1,0
3,YES,Single,50190,193264,15,YES,0,0,1,0,1,0,1
4,NO,Married,81002,27533,28,NO,0,1,0,1,0,1,0

In [115]:
df = df.drop('Undergrad', 1)

In [116]:
df = df.drop('Marital.Status', 1)

In [117]:
df = df.drop('Urban', 1)

In [118]:
row_indexes=df[df['Taxable.Income']>=30000].index

In [119]:
df.loc[row_indexes,'tax']="Good"

In [120]:
row_indexes=df[df['Taxable.Income']<30000].index

In [121]:
df.loc[row_indexes,'tax']="Risky"

In [122]:
df = df.drop('Taxable.Income', 1)

In [123]:
df.head()

,City.Population,Work.Experience,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES,tax
0,50047,10,0,0,1,0,1,1,0,Good
1,134075,18,1,0,0,0,1,0,1,Good
2,160205,30,0,1,0,0,1,1,0,Good
3,193264,15,0,0,1,0,1,0,1,Good
4,27533,28,0,1,0,1,0,1,0,Good

In [124]:
colnames = list(df.columns)

In [125]:
colnames

['City.Population',
 'Work.Experience',
 'Marital.Status_Divorced',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Urban_NO',
 'Urban_YES',
 'Undergrad_NO',
 'Undergrad_YES',
 'tax']

In [126]:
predictors = colnames[:9]
target = colnames[9]

In [127]:
predictors

['City.Population',
 'Work.Experience',
 'Marital.Status_Divorced',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Urban_NO',
 'Urban_YES',
 'Undergrad_NO',
 'Undergrad_YES']

In [128]:
target

'tax'

In [129]:
X = df[predictors]

In [130]:
Y = df[target]

In [131]:
X

,City.Population,Work.Experience,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES
0,50047,10,0,0,1,0,1,1,0
1,134075,18,1,0,0,0,1,0,1
2,160205,30,0,1,0,0,1,1,0
3,193264,15,0,0,1,0,1,0,1
4,27533,28,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...
595,39492,7,1,0,0,0,1,0,1
596,55369,2,1,0,0,0,1,0,1
597,154058,0,1,0,0,0,1,1,0
598,180083,17,0,1,0,1,0,0,1
599,158137,16,1,0,0,1,0,1,0

In [132]:
Y

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: tax, Length: 600, dtype: object

In [133]:
from sklearn.ensemble import RandomForestClassifier

In [134]:
rf = RandomForestClassifier(n_jobs=2,oob_score=True,n_estimators=15,criterion="entropy")

In [135]:
rf.fit(X,Y) # Fitting RandomForestClassifier model from sklearn.ensemble

RandomForestClassifier(criterion='entropy', n_estimators=15, n_jobs=2,
                       oob_score=True)

In [136]:
rf.estimators_ #

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1567697314),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=399136614),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=10193065),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1342378377),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1153280130),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1334970457),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1916066432),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=870039678),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1200742502),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1243225390),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1156317626),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=229051211),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=961791960),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2111786639),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1883362341)]

In [137]:
rf.classes_ # class labels (output)
rf.n_classes_ # Number of levels in class labels

2

In [138]:
rf.n_features_  # Number of input features in model 9  here.

9

In [139]:
rf.n_outputs_ # Number of outputs when fit performed

1

In [141]:
rf.oob_score_

0.715

In [142]:
rf.predict(X)

array(['Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good',
       'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good',
       'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky',
       'Good', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good'],
      dtype=object)

In [143]:
df['rf_pred'] = rf.predict(X)

In [144]:
cols = ['rf_pred','tax']

In [145]:
cols

['rf_pred', 'tax']

In [146]:
['rf_pred', 'sales']

['rf_pred', 'sales']

In [147]:
from sklearn.metrics import confusion_matrix

In [148]:
confusion_matrix(df['tax'],df['rf_pred'])

array([[474,   2],
       [  8, 116]])